In [1]:
import pandas as pd

In [2]:
df = pd.read_html('tables.html')

In [3]:
#df

In [4]:
type(df)

list

In [5]:
def city(a,b,c,d):
    
    b.drop('Year',axis=1,inplace=True)
    df = pd.concat([a,b,c,d],axis=0)
    df.set_index('Month',inplace=True)
    df = df.set_index(pd.Index(['Avg Temp Min(°C)', 'Avg Temp Max(°C)', 'Avg Temp Min(°F)', 'Avg Temp Max(°F)','Avg Prec.(mm)','Avg Prec.(in)','No. days of Prec','Avg Hours Sunlight','Sea Temp(°C)','Sea Temp(°F)']))
    df.drop(['Avg Temp Min(°F)', 'Avg Temp Max(°F)', 'Sea Temp(°F)'], inplace=True)
    return df

In [6]:
capetown = city(df[0],df[1],df[2],df[3])

In [7]:
capetown

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
Avg Temp Min(°C),16.0,16.0,14.0,12.0,9.0,8.0,7.0,8.0,9.0,11.0,13.0,15.0
Avg Temp Max(°C),26.0,27.0,25.0,23.0,20.0,18.0,18.0,18.0,19.0,21.0,24.0,25.0
Avg Prec.(mm),12.0,8.0,17.0,45.0,85.0,80.0,85.0,70.0,45.0,30.0,17.0,11.0
Avg Prec.(in),0.5,0.3,0.7,1.8,3.3,3.1,3.3,2.8,1.8,1.2,0.7,0.4
No. days of Prec,2.0,2.0,3.0,6.0,9.0,9.0,10.0,10.0,7.0,5.0,3.0,2.0
Avg Hours Sunlight,11.0,11.0,9.0,8.0,7.0,6.0,6.0,7.0,8.0,9.0,10.0,11.0
Sea Temp(°C),19.0,19.0,18.0,17.0,17.0,16.0,15.0,15.0,15.0,16.0,17.0,18.0

In [8]:
portelizabeth = city(df[13],df[12],df[14],df[15])

In [9]:
portelizabeth

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
Avg Temp Min(°C),18.0,19.0,17,15.0,12.0,10.0,10.0,11.0,12.0,13.0,15.0,17.0
Avg Temp Max(°C),24.0,24.0,23,22.0,21.0,20.0,18.0,18.0,18.0,20.0,21.0,23.0
Avg Prec.(mm),35.0,35.0,50,45.0,65.0,60.0,60.0,55.0,60.0,65.0,60.0,40.0
Avg Prec.(in),1.4,1.4,2,1.8,2.6,2.4,2.4,2.2,2.4,2.6,2.4,1.6
No. days of Prec,3.0,5.0,6,5.0,6.0,5.0,5.0,6.0,8.0,8.0,7.0,5.0
Avg Hours Sunlight,9.0,8.0,7,7.0,7.0,7.0,7.0,8.0,7.0,8.0,8.0,9.0
Sea Temp(°C),23.0,24.0,24,23.0,23.0,21.0,20.0,20.0,20.0,20.0,21.0,23.0

In [10]:
durban = city(df[17],df[16],df[18],df[19])

In [11]:
durban

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
Avg Temp Min(°C),21.0,21.0,20.0,17.0,14.0,11.0,11,13.0,15.0,17.0,18.0,20.0
Avg Temp Max(°C),28.0,28.0,28.0,26.0,25.0,23.0,23,23.0,23.0,24.0,25.0,27.0
Avg Prec.(mm),120.0,130.0,115.0,90.0,60.0,35.0,25,40.0,65.0,85.0,120.0,125.0
Avg Prec.(in),4.7,5.1,4.5,3.5,2.4,1.4,1,1.6,2.6,3.3,4.7,4.9
No. days of Prec,11.0,9.0,9.0,7.0,4.0,3.0,3,4.0,6.0,10.0,11.0,12.0
Avg Hours Sunlight,6.0,6.0,7.0,7.0,7.0,8.0,7,7.0,6.0,5.0,6.0,6.0
Sea Temp(°C),26.0,26.0,26.0,25.0,24.0,23.0,22,22.0,22.0,22.0,24.0,25.0

In [12]:
#correlation plot for capetown
cp= capetown.transpose().corr()
cp.corr()

,Avg Temp Min(°C),Avg Temp Max(°C),Avg Prec.(mm),Avg Prec.(in),No. days of Prec,Avg Hours Sunlight,Sea Temp(°C)
Avg Temp Min(°C),1.000000,0.999876,-0.997962,-0.998113,-0.999550,0.998525,0.996975
Avg Temp Max(°C),0.999876,1.000000,-0.996998,-0.997177,-0.999028,0.997607,0.997865
Avg Prec.(mm),-0.997962,-0.996998,1.000000,0.999997,0.999402,-0.999786,-0.989984
Avg Prec.(in),-0.998113,-0.997177,0.999997,1.000000,0.999485,-0.999825,-0.990324
No. days of Prec,-0.999550,-0.999028,0.999402,0.999485,1.000000,-0.999655,-0.994232
Avg Hours Sunlight,0.998525,0.997607,-0.999786,-0.999825,-0.999655,1.000000,0.991520
Sea Temp(°C),0.996975,0.997865,-0.989984,-0.990324,-0.994232,0.991520,1.000000

In [13]:
#correlation plot for port elizbeth
#correlation plot for capetown
pe= portelizabeth.transpose().corr()
pe.corr()

,Avg Temp Min(°C),Avg Temp Max(°C),Avg Prec.(mm),Avg Prec.(in),No. days of Prec,Avg Hours Sunlight,Sea Temp(°C)
Avg Temp Min(°C),1.000000,0.990774,-0.994084,-0.994084,-0.928615,0.868249,0.962522
Avg Temp Max(°C),0.990774,1.000000,-0.990610,-0.990610,-0.959782,0.829364,0.986316
Avg Prec.(mm),-0.994084,-0.990610,1.000000,1.000000,0.957884,-0.895206,-0.956726
Avg Prec.(in),-0.994084,-0.990610,1.000000,1.000000,0.957884,-0.895206,-0.956726
No. days of Prec,-0.928615,-0.959782,0.957884,0.957884,1.000000,-0.834323,-0.940133
Avg Hours Sunlight,0.868249,0.829364,-0.895206,-0.895206,-0.834323,1.000000,0.728371
Sea Temp(°C),0.962522,0.986316,-0.956726,-0.956726,-0.940133,0.728371,1.000000

In [14]:
#correlation plot for durban
db= durban.transpose().corr()
db.corr()

,Avg Temp Min(°C),Avg Temp Max(°C),Avg Prec.(mm),Avg Prec.(in),No. days of Prec,Avg Hours Sunlight,Sea Temp(°C)
Avg Temp Min(°C),1.000000,0.963187,0.999188,0.999208,0.984829,-0.946149,0.894045
Avg Temp Max(°C),0.963187,1.000000,0.955323,0.955699,0.903091,-0.824859,0.980898
Avg Prec.(mm),0.999188,0.955323,1.000000,0.999998,0.988911,-0.953003,0.882886
Avg Prec.(in),0.999208,0.955699,0.999998,1.000000,0.988675,-0.952562,0.883528
No. days of Prec,0.984829,0.903091,0.988911,0.988675,1.000000,-0.986581,0.805145
Avg Hours Sunlight,-0.946149,-0.824859,-0.953003,-0.952562,-0.986581,1.000000,-0.700958
Sea Temp(°C),0.894045,0.980898,0.882886,0.883528,0.805145,-0.700958,1.000000

In [15]:
# import dash
# import dash_core_components as dcc
# import dash_html_components as html

In [16]:
# app = dash.Dash()
# app.layout = html.Div(
#     html.H1(children="Annual weather for PE, DBN and CPT")
# )

# if __name__=="__main__":
#     app.run_server(debug=True)

In [17]:
import dash
import dash_core_components as dcc
import dash_html_components as html

external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

app = dash.Dash(__name__, external_stylesheets=external_stylesheets)

app.layout = html.Div(children=[
    html.H1(children='Hello Dash'),

    html.Div(children='''
        Dash: A web application framework for Python.
    '''),

    dcc.Graph(
        id='example-graph',
        figure={
            'data': [
                {'x': [1, 2, 3], 'y': [4, 1, 2], 'type': 'bar', 'name': 'SF'},
                {'x': [1, 2, 3], 'y': [2, 4, 5], 'type': 'bar', 'name': u'Montréal'},
            ],
            'layout': {
                'title': 'Dash Data Visualization'
            }
        }
    )
])

if __name__ == '__main__':
    app.run_server(debug=True)

Running on http://127.0.0.1:8050/
Debugger PIN: 762-966-543
 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

SystemExit: 1

/home/keanu/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3334: UserWarning:

To exit: use 'exit', 'quit', or Ctrl-D.