In [1]:
import pandas as pd

In [2]:
df = pd.read_html('tables.html')

In [3]:
#df

In [4]:
type(df)

list

In [5]:
def city(a,b,c,d):
    
    b.drop('Year',axis=1,inplace=True)
    df = pd.concat([a,b,c,d],axis=0)
    df.set_index('Month',inplace=True)
    df = df.set_index(pd.Index(['Avg Temp Min(°C)', 'Avg Temp Max(°C)', 'Avg Temp Min(°F)', 'Avg Temp Max(°F)','Avg Prec.(mm)','Avg Prec.(in)','No. days of Prec','Avg Hours Sunlight','Sea Temp(°C)','Sea Temp(°F)']))
    df.drop(['Avg Temp Min(°F)', 'Avg Temp Max(°F)', 'Sea Temp(°F)'], inplace=True)
    return df

In [6]:
capetown = city(df[0],df[1],df[2],df[3])

In [7]:
capetown_df = capetown.transpose()
capetown_df['Month']  = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
capetown_df.head()

,Avg Temp Min(°C),Avg Temp Max(°C),Avg Prec.(mm),Avg Prec.(in),No. days of Prec,Avg Hours Sunlight,Sea Temp(°C),Month
Jan,16.0,26.0,12.0,0.5,2.0,11.0,19.0,Jan
Feb,16.0,27.0,8.0,0.3,2.0,11.0,19.0,Feb
Mar,14.0,25.0,17.0,0.7,3.0,9.0,18.0,Mar
Apr,12.0,23.0,45.0,1.8,6.0,8.0,17.0,Apr
May,9.0,20.0,85.0,3.3,9.0,7.0,17.0,May

In [8]:
portelizabeth = city(df[13],df[12],df[14],df[15])

In [9]:
portelizabeth_df = portelizabeth.transpose()
portelizabeth_df['Month']  = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
portelizabeth_df.head()

,Avg Temp Min(°C),Avg Temp Max(°C),Avg Prec.(mm),Avg Prec.(in),No. days of Prec,Avg Hours Sunlight,Sea Temp(°C),Month
Jan,18.0,24.0,35.0,1.4,3.0,9.0,23.0,Jan
Feb,19.0,24.0,35.0,1.4,5.0,8.0,24.0,Feb
Mar,17.0,23.0,50.0,2.0,6.0,7.0,24.0,Mar
Apr,15.0,22.0,45.0,1.8,5.0,7.0,23.0,Apr
May,12.0,21.0,65.0,2.6,6.0,7.0,23.0,May

In [10]:
durban = city(df[17],df[16],df[18],df[19])
durban

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
Avg Temp Min(°C),21.0,21.0,20.0,17.0,14.0,11.0,11,13.0,15.0,17.0,18.0,20.0
Avg Temp Max(°C),28.0,28.0,28.0,26.0,25.0,23.0,23,23.0,23.0,24.0,25.0,27.0
Avg Prec.(mm),120.0,130.0,115.0,90.0,60.0,35.0,25,40.0,65.0,85.0,120.0,125.0
Avg Prec.(in),4.7,5.1,4.5,3.5,2.4,1.4,1,1.6,2.6,3.3,4.7,4.9
No. days of Prec,11.0,9.0,9.0,7.0,4.0,3.0,3,4.0,6.0,10.0,11.0,12.0
Avg Hours Sunlight,6.0,6.0,7.0,7.0,7.0,8.0,7,7.0,6.0,5.0,6.0,6.0
Sea Temp(°C),26.0,26.0,26.0,25.0,24.0,23.0,22,22.0,22.0,22.0,24.0,25.0

In [11]:
durban_df = durban.transpose()
durban_df['Month']  = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
durban_df.head()

,Avg Temp Min(°C),Avg Temp Max(°C),Avg Prec.(mm),Avg Prec.(in),No. days of Prec,Avg Hours Sunlight,Sea Temp(°C),Month
Jan,21.0,28.0,120.0,4.7,11.0,6.0,26.0,Jan
Feb,21.0,28.0,130.0,5.1,9.0,6.0,26.0,Feb
Mar,20.0,28.0,115.0,4.5,9.0,7.0,26.0,Mar
Apr,17.0,26.0,90.0,3.5,7.0,7.0,25.0,Apr
May,14.0,25.0,60.0,2.4,4.0,7.0,24.0,May

In [12]:
#plt.scatter(x = durban.loc[['Avg Temp Min(°C)'],:], y= durban_df['Avg Temp Min(°C)'])

In [13]:
import matplotlib.pyplot as plt
plt.scatter(durban_df['Avg Temp Min(°C)'], durban_df['Avg Temp Max(°C)'])

In [14]:
#correlation plot for capetown
cp= capetown.transpose().corr()
cp.corr()

,Avg Temp Min(°C),Avg Temp Max(°C),Avg Prec.(mm),Avg Prec.(in),No. days of Prec,Avg Hours Sunlight,Sea Temp(°C)
Avg Temp Min(°C),1.000000,0.999876,-0.997962,-0.998113,-0.999550,0.998525,0.996975
Avg Temp Max(°C),0.999876,1.000000,-0.996998,-0.997177,-0.999028,0.997607,0.997865
Avg Prec.(mm),-0.997962,-0.996998,1.000000,0.999997,0.999402,-0.999786,-0.989984
Avg Prec.(in),-0.998113,-0.997177,0.999997,1.000000,0.999485,-0.999825,-0.990324
No. days of Prec,-0.999550,-0.999028,0.999402,0.999485,1.000000,-0.999655,-0.994232
Avg Hours Sunlight,0.998525,0.997607,-0.999786,-0.999825,-0.999655,1.000000,0.991520
Sea Temp(°C),0.996975,0.997865,-0.989984,-0.990324,-0.994232,0.991520,1.000000

In [15]:
#correlation plot for port elizbeth
#correlation plot for capetown
pe= portelizabeth.transpose().corr()
pe.corr()

,Avg Temp Min(°C),Avg Temp Max(°C),Avg Prec.(mm),Avg Prec.(in),No. days of Prec,Avg Hours Sunlight,Sea Temp(°C)
Avg Temp Min(°C),1.000000,0.990774,-0.994084,-0.994084,-0.928615,0.868249,0.962522
Avg Temp Max(°C),0.990774,1.000000,-0.990610,-0.990610,-0.959782,0.829364,0.986316
Avg Prec.(mm),-0.994084,-0.990610,1.000000,1.000000,0.957884,-0.895206,-0.956726
Avg Prec.(in),-0.994084,-0.990610,1.000000,1.000000,0.957884,-0.895206,-0.956726
No. days of Prec,-0.928615,-0.959782,0.957884,0.957884,1.000000,-0.834323,-0.940133
Avg Hours Sunlight,0.868249,0.829364,-0.895206,-0.895206,-0.834323,1.000000,0.728371
Sea Temp(°C),0.962522,0.986316,-0.956726,-0.956726,-0.940133,0.728371,1.000000

In [16]:
#correlation plot for durban
db= durban.transpose().corr()
db.corr()

,Avg Temp Min(°C),Avg Temp Max(°C),Avg Prec.(mm),Avg Prec.(in),No. days of Prec,Avg Hours Sunlight,Sea Temp(°C)
Avg Temp Min(°C),1.000000,0.963187,0.999188,0.999208,0.984829,-0.946149,0.894045
Avg Temp Max(°C),0.963187,1.000000,0.955323,0.955699,0.903091,-0.824859,0.980898
Avg Prec.(mm),0.999188,0.955323,1.000000,0.999998,0.988911,-0.953003,0.882886
Avg Prec.(in),0.999208,0.955699,0.999998,1.000000,0.988675,-0.952562,0.883528
No. days of Prec,0.984829,0.903091,0.988911,0.988675,1.000000,-0.986581,0.805145
Avg Hours Sunlight,-0.946149,-0.824859,-0.953003,-0.952562,-0.986581,1.000000,-0.700958
Sea Temp(°C),0.894045,0.980898,0.882886,0.883528,0.805145,-0.700958,1.000000

In [17]:
# import dash
# import dash_core_components as dcc
# import dash_html_components as html

In [18]:
# app = dash.Dash()
# app.layout = html.Div(
#     html.H1(children="Annual weather for PE, DBN and CPT")
# )

# if __name__=="__main__":
#     app.run_server(debug=True)

In [19]:
# import dash
# import dash_core_components as dcc
# import dash_html_components as html
# import plotly.graph_objs as go

# app = dash.Dash()

# app.layout = html.Div([html.Div(html.H1(children="Weather Dashboard")),
#                       dcc.Graph(
#                       id='scatter_chart',
#                       figure = {
#                           'data':[
#                               #go.Scatter(
#                               {'x' : portelizabeth_df['Month'],'y' : portelizabeth_df['Avg Temp Max(°C)'],'type':'scatter','name':'Max'},
#                               {'x' : portelizabeth_df['Month'],'y' : portelizabeth_df['Avg Temp Min(°C)'],'type':'scatter','name':'MIn'},
#                               #)
#                           ],
#                           'layout' : go.Layout(
#                           title = 'Max vs Min Temperatures Port Elizabeth')
                           
#                       })],
#                      [html.Div(html.H1(children="Weather Dashboard")),
#                       dcc.Graph(
#                       id='scatter_chart',
#                       figure = {
#                           'data':[
#                               #go.Scatter(
#                               {'x' : portelizabeth_df['Month'],'y' : portelizabeth_df['Avg Temp Max(°C)'],'type':'scatter','name':'Max'},
#                               {'x' : portelizabeth_df['Month'],'y' : portelizabeth_df['Avg Temp Min(°C)'],'type':'scatter','name':'MIn'},
#                               #)
#                           ],
#                           'layout' : go.Layout(
#                           title = 'Max vs Min Temperatures Port Elizabeth')
                           
#                       })]
                     
                     
                     
#                      )

# if __name__=="__main__":
#     app.run_server(debug=False)

In [20]:
# import dash
# import dash_core_components as dcc
# import dash_html_components as html

# external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

# app = dash.Dash(__name__, external_stylesheets=external_stylesheets)

# app.layout = html.Div(children=[
#     html.H1(children='Hello Dash'),

#     html.Div(children='''
#         Dash: A web application framework for Python.
#     '''),

#     dcc.Graph(
#         id='example-graph',
#         figure={
#             'data': [
#                 {'x': [1, 2, 3], 'y': [4, 1, 2], 'type': 'bar', 'name': 'SF'},
#                 {'x': [1, 2, 3], 'y': [2, 4, 5], 'type': 'bar', 'name': u'Montréal'},
#             ],
#             'layout': {
#                 'title': 'Dash Data Visualization'
#             }
#         }
#     )
# ])

# if __name__ == '__main__':
#     app.run_server(debug=False)

In [21]:
# external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

# app = dash.Dash(__name__, external_stylesheets=external_stylesheets)

# df = pd.read_csv(
#     'https://gist.githubusercontent.com/chriddyp/'
#     'cb5392c35661370d95f300086accea51/raw/'
#     '8e0768211f6b747c0db42a9ce9a0937dafcbd8b2/'
#     'indicators.csv')

# available_indicators = df['Indicator Name'].unique()

# app.layout = html.Div([
#     html.Div([

#         html.Div([
#             dcc.Dropdown(
#                 id='crossfilter-xaxis-column',
#                 options=[{'label': i, 'value': i} for i in available_indicators],
#                 value='Fertility rate, total (births per woman)'
#             ),
#             dcc.RadioItems(
#                 id='crossfilter-xaxis-type',
#                 options=[{'label': i, 'value': i} for i in ['Linear', 'Log']],
#                 value='Linear',
#                 labelStyle={'display': 'inline-block'}
#             )
#         ],
#         style={'width': '49%', 'display': 'inline-block'}),

#         html.Div([
#             dcc.Dropdown(
#                 id='crossfilter-yaxis-column',
#                 options=[{'label': i, 'value': i} for i in available_indicators],
#                 value='Life expectancy at birth, total (years)'
#             ),
#             dcc.RadioItems(
#                 id='crossfilter-yaxis-type',
#                 options=[{'label': i, 'value': i} for i in ['Linear', 'Log']],
#                 value='Linear',
#                 labelStyle={'display': 'inline-block'}
#             )
#         ], style={'width': '49%', 'float': 'right', 'display': 'inline-block'})
#     ], style={
#         'borderBottom': 'thin lightgrey solid',
#         'backgroundColor': 'rgb(250, 250, 250)',
#         'padding': '10px 5px'
#     }),

#     html.Div([
#         dcc.Graph(
#             id='crossfilter-indicator-scatter',
#             hoverData={'points': [{'customdata': 'Japan'}]}
#         )
#     ], style={'width': '49%', 'display': 'inline-block', 'padding': '0 20'}),
#     html.Div([
#         dcc.Graph(id='x-time-series'),
#         dcc.Graph(id='y-time-series'),
#     ], style={'display': 'inline-block', 'width': '49%'}),

#     html.Div(dcc.Slider(
#         id='crossfilter-year--slider',
#         min=df['Year'].min(),
#         max=df['Year'].max(),
#         value=df['Year'].max(),
#         marks={str(year): str(year) for year in df['Year'].unique()}
#     ), style={'width': '49%', 'padding': '0px 20px 20px 20px'})
# ])


# @app.callback(
#     dash.dependencies.Output('crossfilter-indicator-scatter', 'figure'),
#     [dash.dependencies.Input('crossfilter-xaxis-column', 'value'),
#      dash.dependencies.Input('crossfilter-yaxis-column', 'value'),
#      dash.dependencies.Input('crossfilter-xaxis-type', 'value'),
#      dash.dependencies.Input('crossfilter-yaxis-type', 'value'),
#      dash.dependencies.Input('crossfilter-year--slider', 'value')])
# def update_graph(xaxis_column_name, yaxis_column_name,
#                  xaxis_type, yaxis_type,
#                  year_value):
#     dff = df[df['Year'] == year_value]

#     return {
#         'data': [go.Scatter(
#             x=dff[dff['Indicator Name'] == xaxis_column_name]['Value'],
#             y=dff[dff['Indicator Name'] == yaxis_column_name]['Value'],
#             text=dff[dff['Indicator Name'] == yaxis_column_name]['Country Name'],
#             customdata=dff[dff['Indicator Name'] == yaxis_column_name]['Country Name'],
#             mode='markers',
#             marker={
#                 'size': 15,
#                 'opacity': 0.5,
#                 'line': {'width': 0.5, 'color': 'white'}
#             }
#         )],
#         'layout': go.Layout(
#             xaxis={
#                 'title': xaxis_column_name,
#                 'type': 'linear' if xaxis_type == 'Linear' else 'log'
#             },
#             yaxis={
#                 'title': yaxis_column_name,
#                 'type': 'linear' if yaxis_type == 'Linear' else 'log'
#             },
#             margin={'l': 40, 'b': 30, 't': 10, 'r': 0},
#             height=450,
#             hovermode='closest'
#         )
#     }


# def create_time_series(dff, axis_type, title):
#     return {
#         'data': [go.Scatter(
#             x=dff['Year'],
#             y=dff['Value'],
#             mode='lines+markers'
#         )],
#         'layout': {
#             'height': 225,
#             'margin': {'l': 20, 'b': 30, 'r': 10, 't': 10},
#             'annotations': [{
#                 'x': 0, 'y': 0.85, 'xanchor': 'left', 'yanchor': 'bottom',
#                 'xref': 'paper', 'yref': 'paper', 'showarrow': False,
#                 'align': 'left', 'bgcolor': 'rgba(255, 255, 255, 0.5)',
#                 'text': title
#             }],
#             'yaxis': {'type': 'linear' if axis_type == 'Linear' else 'log'},
#             'xaxis': {'showgrid': False}
#         }
#     }


# @app.callback(
#     dash.dependencies.Output('x-time-series', 'figure'),
#     [dash.dependencies.Input('crossfilter-indicator-scatter', 'hoverData'),
#      dash.dependencies.Input('crossfilter-xaxis-column', 'value'),
#      dash.dependencies.Input('crossfilter-xaxis-type', 'value')])
# def update_y_timeseries(hoverData, xaxis_column_name, axis_type):
#     country_name = hoverData['points'][0]['customdata']
#     dff = df[df['Country Name'] == country_name]
#     dff = dff[dff['Indicator Name'] == xaxis_column_name]
#     title = '<b>{}</b><br>{}'.format(country_name, xaxis_column_name)
#     return create_time_series(dff, axis_type, title)


# @app.callback(
#     dash.dependencies.Output('y-time-series', 'figure'),
#     [dash.dependencies.Input('crossfilter-indicator-scatter', 'hoverData'),
#      dash.dependencies.Input('crossfilter-yaxis-column', 'value'),
#      dash.dependencies.Input('crossfilter-yaxis-type', 'value')])
# def update_x_timeseries(hoverData, yaxis_column_name, axis_type):
#     dff = df[df['Country Name'] == hoverData['points'][0]['customdata']]
#     dff = dff[dff['Indicator Name'] == yaxis_column_name]
#     return create_time_series(dff, axis_type, yaxis_column_name)


# if __name__ == '__main__':
#     app.run_server(debug=True)

In [ ]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.graph_objs as go
import numpy as np
import pandas as pd
app = dash.Dash()
app.layout = html.Div([dcc.Graph(id='scatterplot',
                    figure = {'data':[
                            go.Scatter(
                            x=portelizabeth_df['Month'],
                            y=portelizabeth_df['Avg Temp Max(°C)'],
                            mode='markers',
                            marker = {
                                'size':12,
                                'color': 'rgb(51,204,153)',
                                'symbol':'pentagon',
                                'line':{'width':2}
                            }
                            )],
                    'layout':go.Layout(title='Attendance of EPL Teams',
                                        yaxis = {'title':'Attendance'})}
#                     ),
#                     dcc.Graph(id='scatterplot2',
#                     figure = {'data':[
#                             go.Scatter(
#                             x=df.team,
#                             y=df.goal_diff,
#                             mode='markers',
#                             marker = {
#                                 'size':12,
#                                 'color': 'rgb(51,204,153)',
#                                 'symbol':'pentagon',
#                                 'line':{'width':2}
#                             }
#                             )],
#                     'layout':go.Layout(title='Goal Difference',
#                                         yaxis = {'title':'Goal Difference'})}
#                     ),
#                     dcc.Graph(id='scatterplot3',
#                                         figure = {'data':[
#                                                 go.Scatter(
#                                                 x=df.team,
#                                                 y=df.wins,
#                                                 )],
#                                         'layout':go.Layout(title='Wins',
#                                          yaxis = {'title':'Wins'})}
                                      )])
if __name__ == '__main__':
                                 app.run_server(debug=False)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [13/Nov/2019 15:15:47] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [13/Nov/2019 15:15:47] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [13/Nov/2019 15:15:47] "GET /_dash-layout HTTP/1.1" 200 -